.DS_Store
.DS_Store?

.env

node_modules
ncp-debug.log
npm-debug.log
bower_component
/src/config/configSec.js
build_webpack

.DS_STORE
node_modules
*~
*.pyc
static
.grunt
_SpecRunner.html
__benchmarks__
frontend/build/
frontend/coverage/
.module-cache
*.gem
frontend/docs/.bundle
frontend/docs/code
frontend/docs/_site
frontend/docs/.sass-cache
frontend/docs/js/*
frontend/docs/downloads
frontend/docs/vendor/bundle
frontend/examples/shared/*.js
frontend/test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml